#home {
  font-style: italic;
}
.test {
  color: red;
}
.option {
  width: 25%;
  background-color: aqua;
  color: black;
  padding: 1%;
  border-radius: 50px;
  display: inline;
}

#option-buttons {
  width: 100%;
  height: 85px;
  text-align: center;
  position: relative;
}
#no {
  position: absolute;
  bottom: -10px;
  left: 37%;
}

#yes {
  position: absolute;
  right: 0;
}