<h1>Made by:</h1>
<ul>
    <!-- TODO: Add your name as a list element -->
    <li>Sheila</li>
    <li>Ray</li>
    <li>Bruce</li>
    <li>Annie</li>
    <li>Christie</li>
    <li>Purujit</li>
    <li>Rebecca</li>
</ul>
