<h1>My Profile</h1>
<ul>

    <li>
    {{#each profile}}
        <span>{{this.key}}: {{this.value}}</span>
        <br/>
    {{/each}}
    </li>
</ul>
<button class='btn btn--no'>Press Left to go Home</button>
