<h1>Meeting Request Status:</h1>
<ul>
    <li>
    {{#each confirmedMeetings}}
      <span>{{this.key}}: {{this.value}}</span>
      <br/>
    {{/each}}
    </li>
</ul>
<button class='btn btn--no'>Press Left to go Home</button>
