<h1>MeetingDetails</h1>
<button class='btn btn--Top'>10:00 AM</button>
<ul>
    <li>
      <span>Date: 8 May 2019</span>
      <br/>
    </li>
</ul>
<button class='btn btn--Bottom'>3:00 PM</button>
<button class='btn btn--home'>Home</button>
