<h1>Confirmed Client Meetings</h1>

<ul>

  <li>Abigail Thompson - 1.30pm - 11th May 2019</li>
  <li>Samson Daily - 2.30pm - 12th May 2019</li>
  <li>Tom Jefferson - 1.30pm - 15th May 2019</li>
  <li>Sansa Stark - 9.30am - 20th May 2019</li>
  <li>Colbie Caillat - 1.30pm - 20th May 2019</li>
  <li>Jon Snow - 1.30pm - 23th May 2019</li>
  <li>Tanya Robinson - 6.30pm - 25th May 2019</li>

</ul>

